{% extends 'layout.twig' %}

{% block main_title %}Changement de mot de passe{% endblock %}
  

{% block content %}

  <section>
    <div class="container auth">
      <div class="text-center">
        <h2>Content de vous revoir {{ login }}</h2>
        <div>
          <small  class="text-muted"><a href="{{ base_url }}authentification/">Connectez vous</a></small>
        </div></br>
        <div class="row">
          <div class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-4 col-lg-4">
            <form action="{{ base_url }}authentification/changePassword" method="post">
              <input hidden type="text" name="login" value="{{ login }}">
              <div class="form-group form-control-sm">
                <label for="psw" style="margin:0;">Créer un nouveau mot de passe</label><br>
                <small class="text-muted">(minimum 8 caractères)</small>
                <input class="form-control form-control-sm" name="psw" id="psw" type="password" minlength=8 required>
              </div>
              <div class="form-group form-control-sm">
                <label for="psw2">Confirmez votre mot de passe</label>
                <input class="form-control form-control-sm" name="psw2" id="psw2" type="password" required>
              </div>
              <input class="btn btn-primary" type="submit" value="Réinitialiser">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}