{% extends 'layout.twig' %}

{% block main_title %}Mot de passe oublié ?{% endblock %}
  

{% block content %}

  <section>
    <div class="container auth">
      <div class="text-center">
        <h2>Un e-mail vient de vous être envoyé</h2>
          <small  class="text-muted"><a href="{{ base_url }}authentification/">Connectez vous</a></small>
      </div>
    </div>
  </section>

{% endblock %}