{% extends 'layout.twig' %}

{% block main_title %}Inscription{% endblock %}
  

{% block content %}

  <section>
    <div class="container auth">
      <div class="text-center">
        <h2>Inscrivez vous</h2>
        <div>
          <small  class="text-muted"><a href="http://localhost/P5/blog/authentification/">Connectez vous</a></small>
        </div></br>
        <div class="row">
          <div class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-4 col-lg-4">
            <form action="http://localhost/P5/Blog/authentification/inscription" method="post">
              <div class="form-group form-control-sm">
                <label for="login">Nom d'utilisateur</label>
                <input class="form-control form-control-sm" name="login" id="login" type="login" required>
              </div>
              <div class="form-group form-control-sm">
                <label for="email">Adresse e-mail</label>
                <input class="form-control form-control-sm" name="email" id="email" type="email" required>
              </div>
              <div class="form-group form-control-sm">
                <label for="psw">Créer un mot de passe</label>
                <small class="text-muted">(minimum 8 caractères)</small> 
                <input class="form-control form-control-sm" name="psw" id="psw" type="password" minlength=8 required>
              </div>
              <div class="form-group form-control-sm">
                <label for="psw2">Confirmez votre mot de passe</label>
                <input class="form-control form-control-sm" name="psw2" id="psw2" type="password" required>
              </div>
              <input class="btn btn-primary" type="submit" value="S'inscrire">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}