{% extends 'layout.twig' %}

{% block main_title %}Connexion{% endblock %}
  

{% block content %}

  <section>
    <div class="container">
      <div class="text-center">
        <h2>Connexion à un compte</h2>
        <p  class="text-muted"><a href="http://localhost/P5/Blog/blog/inscription">Ou créer votre compte en cliquant ici</a></p></br>
        <div class="row">
          <div class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-4 col-lg-4">
            <form action="Connection.php" method="post">
              <div class="form-group text-left">
                <label for="login">Votre identifiant :</label>
                <input class="form-control" name="login" id="login" type="login" placeholder="Nom d'utilisateur" required>
              </div>
              <div class="form-group text-left">
                <label for="psw">Votre mot de passe :</label>
                <input class="form-control" name="psw" id="psw" type="password" placeholder="Mot de passe" required>
              </div>
              <input class="btn btn-primary" type="submit" value="Se connecter">
            </form>
            <hr style="margin-top: 30px;margin-bottom:0px; border-width: 2px; height:30px; max-width: 80px;">
            <div style="font-size: 0.85em;">
              <p><strong>Vous pouvez tester avec les comptes suivants :</strong></p>
              <table class="table table-sm table-bordered">
                <thead>
                  <tr>
                    <th>Login</th>
                    <th>Mot de passe</th>
                    <th>Droits</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>root</td>
                    <td>root</td>
                    <td>Totals</td>
                  </tr>
                  <tr>
                    <td>Visitor</td>
                    <td>OpenClassrooms</td>
                    <td>Partiels</td>
                  </tr>
                </tbody>
              </table>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}