{% extends 'layout.twig' %}

{% block main_title %}Bienvenue - Blog{% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url('http://localhost/P5/Blog/Public/img/Fullsize/photo-1489875347897-49f64b51c1f8.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Vincent Lescot</h1>
              <span class="subheading">A Blog Theme by Vincent</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}
{% block content %}
    <section>
      <div class="container">
        <div class="row">
          <div id="photo-container" class="col-lg-4">
            <img class="img-fluid img-thumbnail text-center" id="self-photo" src="http://localhost/P5/Blog/Public/img/ma_photo.jpg" alt="Vincent">
          </div>
          <div class="col-lg-8 text-center">
            <h2>We've got what you need!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio necessitatibus voluptas suscipit, exercitationem at accusantium quae quidem fugit veniam, dicta iure consequatur eius ducimus voluptatibus labore dolor. Similique, dolores, laboriosam.</p>
            <a class="btn btn-primary" href="http://localhost/P5/Blog/Public/files/CV.pdf">Télécharger mon CV</a>
          </div>
        </div>
      </div>
    </section>
  
   <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-center">
          <h2>Me contacter</h2>
           <p>Si vous appréciez ce blog et que vous souhaitez avoir des informations sur moi. Je vous répondrai.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nemo, nisi quae temporibus ad, molestiae! Dolorum laudantium perspiciatis, accusantium omnis, maiores aliquid praesentium unde, molestiae ipsa possimus vel, dolores voluptate.</p>
          <form action="http://localhost/P5/Blog/accueil" method="post" name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Nom</label>
                <input type="text" class="form-control" placeholder="Nom" name="name" id="name" required data-validation-required-message="Veuillez saisir votre nom">
                <p class="help-block text-danger text-left"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Adresse Email</label>
                <input type="email" class="form-control" placeholder="Adresse Email" name="email" id="email" required data-validation-required-message="Veuillez saisir votre adresse Email">
                <p class="help-block text-danger text-left"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Objet</label>
                <input type="text" class="form-control" placeholder="Objet" name="subject" id="subject" >
                {# required data-validation-required-message="Veuillez saisir un objet" #}
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Message</label>
                <textarea rows="5" class="form-control" placeholder="Message" name="message" id="message" required data-validation-required-message="Veuillez saisir votre message"></textarea>
                <p class="help-block text-danger text-left"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>  
{% endblock %}

{% block add_js %}
    <!-- Contact Form JavaScript -->
    <script src="http://localhost/P5/Blog/Public/js/jqBootstrapValidation.min.js"></script>
    <script src="http://localhost/P5/Blog/Public/js/contact_me.min.js"></script>
{% endblock %}