 #FFC857;
#E9725C;
#481D24;
#C5283D;
#255F85; 
#236847*/

/**
 * READING GUIDE :
 * This file is sorted by page and element. 
 *      The order is the following :
 *          - Layout
 *          - Dashbord (Welcome page)
 *          - Posts listing
 *          - Add/Update Post
 *          - List of comments
 *          - ...
 */




/**
 * ***      Layout     ***
 * **
 */


#back-app{
    background-color: #f4f4f4;
}
#back-app header {
    background-color: #133549;
    color: #fff;
    height: 70px;
    padding: 10px 0px 5px 0px;
    margin-top: 52px;
    margin-bottom: 30px;
}

#back-app footer {
    padding : 10px;
    background-color: #133549;
    color: #fff;
}
#back-app footer #my-links {
    text-align: center;
    margin : 10px 10px 15px 10px;
}
#back-app footer a {
    margin-bottom: 10px;
    color: #e5e8ea;
}
#back-app footer #copyright {
    font-size: 0.7em;
}


/* navbar */
.navbar-perso {
    background-color: #255F85;
    border-color: #255F85;
}
/* Title */
.navbar-perso .navbar-brand {
    color: #e5e8ea;
}
.navbar-perso .navbar-brand:hover,
.navbar-perso .navbar-brand:focus {
    color: #e5e8ea;
    font-weight: 450;
}
/* Link */
.navbar-perso .navbar-nav > li > a {
    color: #e5e8ea;
}
.navbar-perso .navbar-nav > li > a:hover,
.navbar-perso .navbar-nav > li > a:focus {
    font-weight: 450;
    color: #fff;
}
.navbar-perso .navbar-nav > .active > a,
.navbar-perso .navbar-nav > .active > a:hover,
.navbar-perso .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #255F85;
}
.navbar-perso .navbar-nav > .open > a,
.navbar-perso .navbar-nav > .open > a:hover,
.navbar-perso .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #255F85;
}
/* Caret */
.navbar-perso .navbar-nav > .dropdown > a .caret {
    border-top-color: #e5e8ea;
    border-bottom-color: #e5e8ea;
}
.navbar-perso .navbar-nav > .dropdown > a:hover .caret,
.navbar-perso .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-perso .navbar-nav > .open > a .caret,
.navbar-perso .navbar-nav > .open > a:hover .caret,
.navbar-perso .navbar-nav > .open > a:focus .caret {
    border-top-color: #e5e8ea;
    border-bottom-color: #e5e8ea;
}
/* Mobile version */
.navbar-perso .navbar-toggle {
    border-color: #e5e8ea;
}
.navbar-perso .navbar-toggle:hover,
.navbar-perso .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-perso .navbar-toggle .icon-bar {
    background-color: #e5e8ea;
}
@media (max-width: 767px) {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(229,232,234, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-toggler {
      border-color: rgb(229, 232, 234);
    } 
    .navbar-perso .navbar-nav  .dropdown-menu > li > a:hover,
    .navbar-perso .navbar-nav  .dropdown-menu > li > a:focus {
          color: #fff;
    }
}




/**
 * ***      Dashboard    ***
 * **
 */



.jumbotron {
    margin-bottom: 60px;
    background-color: white;
    padding: 1rem 0.5rem !important;
    -webkit-box-shadow: inset 0px 0px 5px 0px #481D24;
    -moz-box-shadow: inset 0px 0px 5px 0px #481D24;
    box-shadow: inset 0px 0px 5px 0px #481D24;
} 

.btn-outline-primary, .btn-outline-primary:visited {
    border-color: #C5283D !important;
    color: #C5283D !important;
    box-shadow : 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.btn-outline-primary:hover, .btn-outline-primary:active {
    color: #fff !important;
    background-color: #C5283D !important;
    border-color: #C5283D !important;
    box-shadow : 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
 

/**
 * ***      Posts Listing    ***
 * **
 */
td a {
    color: #515151;
}
td a:hover {
    color: #878787;
}
#back-app table {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-add, .btn-add:visited {
    background-color: #236847;
    border-color: #236847 !important;
    color: #fff !important;
    margin-bottom: 20px;
}
.btn-add:hover, .btn-add:active {
    color: #fff !important;
    background-color: #2e845c !important;
    border-color: #2e845c !important;
    box-shadow : 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.btn-update, .btn-update:visited {
    background-color: #E9725C;
    border-color: #E9725C !important;
    color: #fff !important;
}
.btn-update:hover, .btn-update:active {
    color: #fff !important;
    background-color: #ef8a77 !important;
    border-color: #ef8a77 !important;
    box-shadow : 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.btn-delete, .btn-delete:visited {
    background-color: #481D24;
    border-color: #481D24 !important;
    color: #fff !important;
}
.btn-delete:hover, .btn-delete:active {
    color: #fff !important;
    background-color: #72353f !important;
    border-color: #72353f !important;
    box-shadow : 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.post-img img{
    width: 100px;
    height: auto;
}

/**
 * ***       Add/Update Post   ***
 * **
 */
form {
    margin-top: 50px;
    margin-bottom: 50px;
}

form input[type="file"] {
    cursor: pointer;
}

/**
 * ***       List of comments   ***
 * **
 */
#back-app h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
}
#back-app td form {
    margin: 0px;
}
.no-comment {
    display: block;
    margin-top: 90px;
    margin-bottom: 100px;
}
.get-comment {
    display: block;
}

/* #FFC857;
#E9725C;
#481D24;
#C5283D;
#255F85; 
#236847