#self-photo {
	border-radius: 50%;
	padding: .1rem;
	height: 180px;
}
#photo-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

/* Section Portfolio */

#portfolio {
  padding-bottom: 0 !important;
}
#portfolio a:hover {
	text-decoration: none;
}



/*Blog - List of Posts*/
#post-list {
	padding: 2rem !important;
}
#post-list h1 {
	font-size: 4rem;
	margin: 3rem 0 3rem 0;
}
#post-list hr {
	margin-bottom: 3rem;
}
.jumbotron {
	padding: 1rem 0rem 0.5rem;
	box-shadow:  0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) ;
	border-radius: 15px; 

}
.jumbotron a {
	color: #444444;
}
.jumbotron a:hover {
	text-decoration: none;
}
.jumbotron h3 {
	margin-top: 10px;
}
.jumbotron .badge {
	float: left;
	margin-right: 5px; 
}
.jumbotron .describe {
	float: right;
}
.jumbotron .portfolio-box .project-category {
	text-transform: none;
	font-weight: 400; 
}




/* Post */
.masthead-post {
    overflow: hidden;
    position: relative;
    min-width: 100%;
}
.masthead-post .cover {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
	background: rgba(0, 0, 0, 0.4);
    padding-top: 8%;
}
@media (max-width: 992px) {
	.masthead-post {
		margin-top: 57px;

	}
}


.btn-back {
	border: 1px solid;
	border-radius: 5px;
	padding: 0.5rem 1.5rem ; 
}
.btn-back:hover {
	color: white;
	background-color: #004b7c;
	border: 1px solid #004b7c;
}
#post {
	padding: 50px 0 0px;
}
#post .infos {
	font-size: 0.8em;
	color: #999999;
}
#post .post-text {
	margin-top: 40px;
}
.break-post {
	max-width: 15%;
}
#comments {
	padding: 30px 0 70px;
}
#comments .section-heading {
	font-size: 1.7rem;
	margin-bottom: 1.5rem;
}
.comment-content {
	background-color: #316e96;
	border-radius: 10px;
	color: white;
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
}
.comment {
	font-size: 0.85rem;
	margin: 0;
}
#comments .infos {
	font-style: italic;
	font-size: 0.7em;
	color: #eaeaea;
	margin-bottom: 0;
}
.form-comment {

}
#comments form, #comments .form-group {
	width: 100%;
}
#comments input{
	border-radius: 10px 0 0 10px;
	border-width: 1px 0 1px 1px !important;
}
#comments textarea{
	border-radius: 0px;
	border-width: 1px 0 1px 1px !important;
}
#comments .btn-primary {
	border: 1px solid #004b7c;
	border-radius: 0 10px 10px 0 ;
	text-transform: none;
	font-weight: 600;
}
#comments .btn-primary:hover {
	color: #004b7c;
	background-color: white !important;
	box-shadow: none;
}





footer {
    padding : 10px;
    background-color: #133549;
    color: #fff;
}
footer #my-links {
    text-align: center;
    margin : 10px 10px 15px 10px;
}
footer a {
    margin-bottom: 10px;
    color: #e5e8ea;
}
footer #copyright {
    font-size: 0.7em;
}


